// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts/';
@import "./assets/css/base";
@import "./assets/css/icon";
@import "./assets/css/app";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
// Shared Variables

@import "roboto";
@import "noto-sans";
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
//Sass Variables
$font-size-base:	1.2rem;
$hairlines-width:	1px;	
$background-color:color($colors, bg);
$tabs-background:#fff;
$button-ios-border-radius:2.2rem;
$button-md-border-radius:$button-ios-border-radius;
$button-ios-height:4.4rem;
$button-md-height:$button-ios-height;
$button-ios-margin:0;
$button-md-margin:$button-ios-margin;
$button-ios-font-size:1.8rem;
$button-md-font-size:$button-ios-font-size;
$toolbar-background:color($colors, primary);
$toolbar-ios-background:color($colors, primary);
$toolbar-md-background:color($colors, primary);
$text-color:color($colors, dark);
$tabs-ios-tab-text-color:#888;
$tabs-md-tab-text-color:$tabs-ios-tab-text-color;
$action-sheet-ios-button-min-height:auto;
$list-border-color:color($colors, border);
$tabs-ios-tab-icon-size:2.4rem;
$label-md-text-color:color($colors, dark);



$text-input-placeholder-color:		color($colors, gray);
